API_ID=28491972
API_HASH=407d272dfb585bd210fd4adb0693691e
BOT_TOKEN=7000061155:AAHRMIXLWAIDwPNU-rchCTUpQl2-1vgraVM
LOG_GROUP_ID=-1002416602393
MONGO_DB_URI=mongodb+srv://sahilop:sahilop12345678@cluster0.ojj0l.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7321289495
STRING_SESSION=
